.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
eshell/*
-eshell/alias
request/
session*
local.el
elpa/
notes
.recentf~
ido.last~
tramp
url/
bookmarks
.python-environments/
games/
irony/
/nov-places
/transient/
/.cache/
/.lsp-session-v1
/.mc-lists.el
